<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS intro</title>
</head>
<body>
<% let obj = {name:'JD', color: 'blue'}%>
    <h1>Hello <%=obj.name %>. My favorite color is <%= obj.color%>.</h1>

    <p>My dog's name is <%= myDog %> and my cat's name is <%=myCat%></p>
</body>
</html>