<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/partials/head')%>
    <title>About EJS</title>
</head>
<body>
    <%-include('../partials/partials/header') %>
    <h1>About.html</h1>
</body>
</html>