<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/partials/head')%>
    <title>EJS intro</title>
</head>
<body>
    <%- include('../partials/partials/header')%>
    

<ul>
<img src="/images/download.jpeg" height="200" width="300" alt=".."/>
    <%myPlaces.forEach(item => { %>
<li><%=item.city%>, <%=item.state%></li>

        
   <% })%>
</ul>
</body>
</html>